/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#EAF4FF;
    color:#2F3A45;
    overflow:hidden;
}

.hidden{
    display:none !important;
}

/* ==========================
   LOADING SCREEN
========================== */

#loadingScreen{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:#EAF4FF;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.logo h1{
    font-size:58px;
    color:#4DA8FF;
    letter-spacing:2px;
}

.logo h2{
    font-size:44px;
    color:#FFC857;
    margin-top:-8px;
}

.logo p{
    font-size:20px;
    color:#666;
    text-align:center;
    margin-top:8px;
}

.loadingBox{
    width:270px;
    height:16px;
    background:#D9ECFF;
    border-radius:30px;
    overflow:hidden;
    margin-top:35px;
}

#loadingBar{
    width:0%;
    height:100%;
    background:#4DA8FF;
    transition:.2s;
}

#loadingText{
    margin-top:15px;
    font-size:17px;
    color:#444;
}

/* ==========================
   MAIN MENU
========================== */

#mainMenu{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
}

.iconBtn{
    align-self:flex-end;
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:#4DA8FF;
    color:#fff;
    font-size:22px;
    box-shadow:0 4px 10px rgba(0,0,0,.12);
}

.gameTitle{
    margin-top:35px;
    margin-bottom:35px;
    text-align:center;
    color:#4DA8FF;
    font-size:38px;
    font-weight:bold;
}

.menuBtn{
    width:280px;
    padding:16px;
    margin:10px;
    border:none;
    border-radius:18px;
    background:#4DA8FF;
    color:white;
    font-size:18px;
    font-weight:bold;
    box-shadow:0 5px 12px rgba(0,0,0,.12);
    transition:.2s;
}

.menuBtn:active{
    transform:scale(.96);
    background:#3398F5;
}

/* ==========================
   SETTINGS PAGE
========================== */

#settingsPage{
    width:100%;
    height:100vh;
    background:#EAF4FF;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px 20px;
}

#settingsPage h2{
    font-size:34px;
    color:#4DA8FF;
    margin-bottom:35px;
}

.settingItem{
    width:300px;
    background:#FFFFFF;
    border-radius:18px;
    padding:18px 20px;
    margin-bottom:18px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 5px 12px rgba(0,0,0,.12);
    font-size:18px;
}

.settingItem input{
    width:22px;
    height:22px;
}

#backBtn{
    margin-top:30px;
}

/* ==========================
   GAME SCREEN
========================== */

#gameScreen{
    width:100%;
    height:100vh;
    background:#EAF4FF;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:15px;
}

/* ==========================
   TOP BAR
========================== */

.topBar{
    width:100%;
    max-width:420px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

#homeBtn{
    width:50px;
    height:50px;
    border:none;
    border-radius:16px;
    background:#4DA8FF;
    color:white;
    font-size:22px;
    box-shadow:0 5px 12px rgba(0,0,0,.12);
}

.scoreBox,
.bestBox{
    width:110px;
    background:#FFFFFF;
    border-radius:18px;
    padding:10px;
    text-align:center;
    box-shadow:0 5px 12px rgba(0,0,0,.12);
}

.scoreBox span,
.bestBox span{
    display:block;
    font-size:14px;
    color:#666;
}

.scoreBox h2,
.bestBox h2{
    margin-top:5px;
    font-size:28px;
    color:#4DA8FF;
}

/* ==========================
   GAME BOARD
========================== */

#board{
    width:340px;
    height:340px;
    background:#FFFFFF;
    border-radius:20px;
    padding:8px;
    display:grid;
    grid-template-columns:repeat(8,1fr);
    grid-template-rows:repeat(8,1fr);
    gap:4px;
    box-shadow:0 6px 15px rgba(0,0,0,.12);
}

.cell{
    background:#D9ECFF;
    border-radius:8px;
    transition:.2s;
    transition:0.15s;
}

/* ==========================
   BLOCK SLOTS
========================== */

#blocks{
    width:340px;
    display:flex;
    justify-content:space-between;
    margin-top:25px;
}

.slot{
    width:90px;
    height:90px;
    background:#FFFFFF;
    border-radius:18px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 5px 12px rgba(0,0,0,.12);
    transition:.2s;
}

.slot:active{
    transform:scale(.95);
}

/* ==========================
   BUTTON HOVER
========================== */

#homeBtn:active,
.iconBtn:active{
    transform:scale(.95);
}

/* ==========================
   MOBILE
========================== */

@media(max-width:400px){

    .gameTitle{
        font-size:32px;
    }

    .menuBtn{
        width:250px;
    }

    #board{
        width:310px;
        height:310px;
    }

    #blocks{
        width:310px;
          }

    .slot{
        width:82px;
        height:82px;
    }

    .settingItem{
        width:280px;
    }

}

/* ==========================
   ANIMATIONS
========================== */

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(15px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

#mainMenu,
#settingsPage,
#gameScreen{
    animation:fadeIn .35s ease;
}

#restartBtn{
  height: 20px;
  width: 60px;
}


.pop{
    animation:blockPop 0.2s ease;
}

@keyframes blockPop{

    0%{
        transform:scale(0.5);
    }

    100%{
        transform:scale(1);
    }

}

.clear{
    animation: clearEffect 0.3s ease;
}

@keyframes clearEffect{

    0%{
        transform: scale(1);
        opacity: 1;
    }

    100%{
        transform: scale(0);
        opacity: 0;
    }

}


.pop{

animation: pop .2s ease;

}


@keyframes pop{

0%{

transform:scale(0.5);

}

100%{

transform:scale(1);

}

}


.clear{

animation: clear .3s ease;

}


@keyframes clear{

0%{

transform:scale(1);

}

50%{

transform:scale(1.3);

}

100%{

transform:scale(0);

}

}

.pop{
    animation: pop 0.2s ease;
}

@keyframes pop{

    0%{
        transform: scale(0.5);
    }

    100%{
        transform: scale(1);
    }

}


.clear{

    animation: clearAnim 0.3s ease;

}


@keyframes clearAnim{

    0%{
        transform: scale(1);
        opacity:1;
    }

    100%{
        transform: scale(0);
        opacity:0;
    }

}


.slot{

    transition:0.2s;

}


.slot:hover{

    transform:scale(1.05);

}

#scorePopup{

    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: #4DA8FF;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;

}


#scorePopup.show{

    animation: scorePop 0.8s ease;

}


@keyframes scorePop{

    0%{
        opacity:0;
        transform:translateY(20px) scale(0.5);
    }

    50%{
        opacity:1;
        transform:translateY(-20px) scale(1.2);
    }

    100%{
        opacity:0;
        transform:translateY(-50px) scale(1);
    }

}

.clear{

    animation: clearEffect 0.3s ease;

}


@keyframes clearEffect{

    0%{
        transform: scale(1);
        opacity:1;
    }

    50%{
        transform: scale(1.3);
        opacity:0.5;
    }

    100%{
        transform: scale(0);
        opacity:0;
    }

}

#achievementPopup{

    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);

    background: #222;
    color: white;
    padding: 15px 25px;
    border-radius: 15px;

    font-size: 18px;
    opacity: 0;

}


#achievementPopup.show{

    animation: achievement 1.5s ease;

}


@keyframes achievement{

    0%{
        transform: translate(-50%,-50%) scale(0);
        opacity:0;
    }

    30%{
        transform: translate(-50%,-50%) scale(1.1);
        opacity:1;
    }

    100%{
        transform: translate(-50%,-50%) scale(1);
        opacity:0;
    }

}

.slot{

    transition:0.2s;

}


.slot:hover{

    transform:scale(1.05);

}

.cell{

    transition:0.2s;

}


.cell.filled{

    animation:blockPlace 0.2s;

}


@keyframes blockPlace{

    0%{
        transform:scale(0.5);
    }

    100%{
        transform:scale(1);
    }

}

#gameOverScreen{

    animation:gameOverPop 0.4s;

}


@keyframes gameOverPop{

    from{

        transform:scale(0.5);
        opacity:0;

    }


    to{

        transform:scale(1);
        opacity:1;

    }

}


#score{

    animation:scoreGlow 1s infinite alternate;

}


@keyframes scoreGlow{

    from{

        text-shadow:0 0 5px white;

    }

    to{

        text-shadow:0 0 20px #4DA8FF;

    }

}

.achievementItem{

    background:#222;
    color:white;

    padding:15px;
    margin:10px;

    border-radius:15px;

    display:flex;
    justify-content:space-between;

    font-size:18px;

}

.missionItem{

    background:#222;
    color:white;

    padding:15px;
    margin:10px;

    border-radius:15px;

    display:flex;
    justify-content:space-between;

    font-size:18px;

}

.slot{
    flex-direction: column;
}

.slot{
    width:100px;
    height:100px;
    background:#FFFFFF;
    border-radius:18px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.preview-valid{
    background: rgba(76,175,80,.35) !important;
    border:2px solid #4CAF50;
}

.preview-invalid{
    background: rgba(244,67,54,.35) !important;
    border:2px solid #F44336;
}

.preview-valid{
    background:#4CAF50 !important;
    opacity:.5;
}

.preview-invalid{
    background:#F44336 !important;
    opacity:.5;
}

.preview-valid{
    background:#4CAF50 !important;
    opacity:.45;
    border:2px solid #4CAF50;
}

.preview-invalid{
    background:#F44336 !important;
    opacity:.45;
    border:2px solid #F44336;
}

.explode{
    animation: explode .35s ease;
}

@keyframes explode{

0%{
transform:scale(1);
opacity:1;
}

50%{
transform:scale(1.4);
opacity:.7;
}

100%{
transform:scale(0);
opacity:0;
}

}

.aboutCard{

    width:85%;
    margin:20px auto;
    padding:20px;

    background:white;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    text-align:center;

}


.aboutSection{

    margin-top:20px;

    padding:10px;

    background:#f3f7ff;

    border-radius:15px;

}


.pageTitle{

    text-align:center;

}


.backBtn{

    display:block;

    margin:20px auto;

    padding:12px 35px;

    border:none;

    border-radius:30px;

    background:#4DA8FF;

    color:white;

    font-size:18px;

}


body{
    overflow-y:auto;
}

#aboutPage,
#privacyPage,
#missionPage,
#achievementPage{

    min-height:100vh;

    overflow-y:auto;

    padding-bottom:30px;

}

footer{

    text-align:center;
    padding:20px;
    margin-top:30px;

    background:#111;
    color:white;

    border-radius:20px;

}

footer button{

    margin:5px;
    padding:8px 15px;

    border:none;
    border-radius:20px;

}

footer{

    text-align:center;

    margin-top:40px;
    padding:20px 10px;

    background:#111;
    color:white;

    border-radius:20px;

    width:90%;
    margin-left:auto;
    margin-right:auto;

}


footer p{

    margin-bottom:15px;

    font-size:14px;

}


footer button{

    margin:5px;

    padding:10px 18px;

    border:none;

    border-radius:25px;

    background:#4DA8FF;

    color:white;

    font-size:14px;

}

#mainMenu{

    padding-bottom:30px;

}

body{

    margin:0;

    background:linear-gradient(
        135deg,
        #1b1f3b,
        #2a2f55
    );

    color:white;

    font-family:Arial, sans-serif;

}

#gameScreen{

    min-height:100vh;

    background:rgba(0,0,0,0.15);

}

#board{

    background:#111827;

    border-radius:20px;

    padding:10px;

    box-shadow:0 10px 30px rgba(0,0,0,0.4);
    

}

#gameScreen footer{
    display:none;
}

#mainMenu{
    overflow-y:auto;
    height:100vh;
}

#loadingScreen{
    background:linear-gradient(
        135deg,
        #1b1f3b,
        #2a2f55
    );
}

.logo h1{
    color:#4DA8FF;
}

.logo h2{
    color:#FFC857;
}

.logo p{
    color:#ddd;
}

.loadingBox{
    background:#333b66;
}

#loadingText{
    color:#ddd;
}

.aboutCard{
    background:white;
}

.aboutCard{

    width:85%;
    margin:20px auto;
    padding:20px;

    background:#111827;

    color:white;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.4);

    text-align:center;

}

.aboutSection{

    margin-top:20px;
    padding:10px;

    background:#f3f7ff;

    border-radius:15px;

}

.pageTitle{
    text-align:center;
    color:#4DA8FF;
    margin-top:20px;
}

body{
    background:linear-gradient(
        135deg,
        #121826,
        #1f2937
    );
    color:white;
}

.aboutCard{

    width:85%;
    margin:20px auto;
    padding:20px;

    background:#111827;
    color:#ffffff;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.5);

    text-align:center;

}

.aboutSection{

    margin-top:20px;
    padding:15px;

    background:#1f2937;
    color:#e5e7eb;

    border-radius:15px;

}

.aboutCard p{
    color:#d1d5db;
    line-height:1.6;
}

#gameSettingBtn{

width:45px;
height:45px;

border:none;
border-radius:15px;

background:#4DA8FF;
color:white;

font-size:20px;

}


#gameMenu{

position:fixed;

top:50%;
left:50%;

transform:translate(-50%,-50%);

background:#111827;

color:white;

padding:25px;

border-radius:20px;

text-align:center;

z-index:999;

}


#gameMenu button{

display:block;

width:200px;

margin:10px;

padding:12px;

border:none;

border-radius:20px;

background:#4DA8FF;

color:white;

font-size:16px;

}